<% if @user %>
  <%= @user.email %>
<% end %>
<%= form_tag("/auth/twitter", method: "post", data: {turbo: false}) do %>
  <button type="submit" class= "btn btn-primary">Login with Developer</button>
<% end %>
