<% if defined?(form) && form && form.object.errors.any? %>
  <div class="alert alert-danger mt-3">
    <% form.object.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>